doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section(class="hero")
      header(id="header")
        a(id="logo", href="#") GH+MS at the CHANGEME
        nav
          a(id="menu-icon") &#8801;
      header(class="hero-header")
        h1(class="hero-title") DevTools for the 21st century
      footer(class="hero-footer")
        a(class="button button-primary", href="#") Go GitHub
        a(class="button", href="#") Go Azure
    article
      h2 The match made just for you
      p.
        You've tried GitHub. You've mastered Azure DevOps. But what about combining the two?
      p.
        The GitHub and Azure DevOps teams have been hard at work for over three years, bringing innovations such as the GitHub extension for Visual Studio, integration with Azure DevOps Boards, and even deep integration with Azure DevOps Pipelines.
      p.
        Take advantage of this unique combined strength of the world's best cloud build and deployment platform with the development platform that brings people together, with the magical effects of collaboration.
      p.
        Thanks for attending this session by Matthew McCullough and Shanku Niyogi. Further enhancements are forthcoming.
  